body{
    font-family: 'Oswald', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
}
.first-div{
    display: flex;
    margin-top: 20px;
}
.first-div h1{
    font-size: 80px;
    color: rgb(90, 85, 85);
}
.first-div p {
    font-size: 20px;
    color: rgb(90, 85, 85);
}
.first-div-child
{
    padding-left: 50px;
    margin-left: 40px;
    padding-top: 50px;
    margin-top: 80px;
}
#orange-text{
    color: orange;
}
.button{
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    padding: 15px 30px;
    background-image: linear-gradient(orange,tomato) ;
    color: aliceblue;
    border-radius: 35px;
}
.first-div-sec{
    background-image: url(images/food/Project\ Cover.jpg);
    background-repeat: no-repeat;
    
}
#hero{
    width: 100%;
}
.second{
    display: flex;
    padding-top: 50px;
    margin-top: 50px;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding-left: 80px;
    margin-left: 80px;
   
}

#female{
    width: 50%;
}
.second-sec-child{
    width: 40%;
    margin-right: 30%;
}
.second-sec-child h1{
 color: rgb(90, 85, 85);
font-size: 60px;
}
.second-sec-child p{
    font-size: 25px;
}